@model Vehicles.API.Models.HistoryViewModel

<div class="form-group">
    <label asp-for="Mileage" class="control-label"></label>
    <input asp-for="Mileage" class="form-control" />
    <span asp-validation-for="Mileage" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Remarks" class="control-label"></label>
    <textarea asp-for="Remarks" class="form-control"></textarea>
    <span asp-validation-for="Remarks" class="text-danger"></span>
</div>

