@{
    ViewData["Title"] = "Política de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>
    La aplicación VEHICLES una aplicación para dispositivos móviles propiedad de JUAN ZULUAGA, persona natural, domiciliada en Colombia, regida por la ley colombiana y los presentes Términos y Condiciones, los cuales el USUARIO se obliga a respetar desde el momento de ingreso al sitio. Si el USUARIO no está de acuerdo con cualquiera de los presentes Términos y Condiciones deberá abstenerse de ingresar al sitio web o hacer uso de sus servicios.
</p>
<p>
    VEHICLES es una aplicación apta sólo para mayores de edad de conformidad con la ley colombiana y el ingreso o su uso por parte de menores está terminantemente prohibido. JUAN ZULUAGA no asume responsabilidad alguna por los daños a usuarios o terceros que el ingreso o uso de personas menores de edad pudiera ocasionar. Para ingreso o uso desde jurisdicciones distintas el USUARIO deberá asegurarse de que cumple con los criterios de mayoría de edad desde el lugar de acceso.
</p>
<p>
    <strong>1. Definiciones</strong>
</p>
<p>
    a. Usuario: persona que descarga, instala VEHICLES, propiedad de JUAN ZULUAGA o hace uso de cualquiera de sus servicios.
</p>
<p>
    b. Aplicación o APP. Programa de software de propiedad de JUAN ZULUAGA destinada a instalarse y ejecutarse es dispositivos móviles y a la cual aplican los presentes términos y condiciones.
</p>
<p>
    c. Propietario. JUAN ZULUAGA, quien tiene el control sobre el contenido de la aplicación, su funcionalidad, así como su la publicación de la misma.
</p>
<p>
    d. Tratamiento de datos: Cualquier operación u operaciones (recolectar, almacenar, analizar, transmitir, eliminar, etc) que se realice con datos personales.
</p>
<p>
    e. Responsable del tratamiento. Quien decide sobre el tratamiento que se le da a los datos personales de los usuarios, que para efectos de estos términos y condiciones será JUAN ZULUAGA.
</p>
<p>
    f. Dato personal. Cualquier información asociada o que pueda asociarse a una o varias personas determinadas o determinables.
</p>
<p>
    g. Titular. Persona cuyos datos personales sean tratados.
</p>
<p>
    <strong>2. Política de tratamiento de datos personales</strong>
</p>
<p>
    Al suministrar datos personales y aceptar su tratamiento el USUARIO autoriza a que la aplicación y JUAN ZULUAGA almacenen, transmitan, transfieran a cualquier título la información proporcionada. Así mismo acepta su uso para fines de prestar un mejor servicio, usos comerciales, publicitarios y la comunicación de ofertas de la aplicación, JUAN ZULUAGA y terceros a los que les haya sido transferida la información a cualquier título.
</p>
<p>
    Al proporcionar sus datos personales el USUARIO acepta que estos hagan parte de la base de datos que genera la aplicación o JUAN ZULUAGA y que ésta sea incluída, junto con su información, en los activos de la aplicación o JUAN ZULUAGA para las operaciones de venta, fusión, escisión o cualquier otra operación comercial.
</p>
<p>
    <strong>Obligaciones del propietario</strong>
</p>
<p>
    <strong>Medidas de protección:</strong> para garantizar la privacidad de los datos personales proporcionados por el USUARIO el propietario se obliga a tomar las medidas de protección necesarias para evitar el acceso no autorizado a dicha informción. Estas medidas se ajustarán en función del tipo de información proporcionada pero en ningún caso se asume una obligación de resultado frente a la protección de dichos datos. En caso de ingreso no autorizado, vulneración, o falla de los servicios de seguridad el propietario se compromete a solucionar el problema dentro de un tiempo razonable, mas no será responsable por los daños producidos al USUARIO o terceros por la violación de las medidas de seguridad dispuestas o el acceso abusivo al sistema informático de JUAN ZULUAGA.
</p>
<p>
    <strong>Control de la información:</strong> el USUARIO podrá en cualquier momento solicitar la corrección, rectificación, o actualización de la información proporcionada. Cuando la Superitendencia de Comercio encuentre que el propietario ha incumplido con la política de protección de datos acá establecida o con los mínimos señalados por la ley el USUARIO podrá solicitar la supresión de sus datos personales tanto de la aplicación como de las bases de datos de JUAN ZULUAGA y terceros a los que les haya sido transferida a cualquier título.
</p>
<p>
    <strong>Términos de respuesta:</strong> el propietario responderá en un máximo de 10 (diez) días hábiles las peticiones sobre consulta de datos personales que sean elevadas por el USUARIO a través de los canales establecidos para ello. Cuando la petición sea sobre corrección, actualización o supresión de los datos el términos de respuesta será de 15 (quince) días hábiles.
</p>
<p>
    <strong>Canales de atención:</strong> para solicitudes sobre actualización, rectificación, actualización o supresión de sus datos personales el USUARIO podrá dirigirse a la dirección de correo electrónico JZULUAGA55@GMAIL.COM y al teléfono +57 322 311 4620.
</p>
<p>
    <strong>Copia de autorización:</strong> el propietario conservará copia de la autorización otorgada por el USUARIO para el tratamiento de sus datos personales y hará entrega de la misma dentro de los 10 (diez) días hábiles siguientes a la solicitud realizada por el USUARIO. Los términos comenzarán a contar desde el día habil siguiente a la fecha de realización de la solicitud.
</p>
<p>
    <strong>Revelación de información:</strong> JUAN ZULUAGA podrá dar a conocer los datos personales del USUARIO cuando sea requerida por autoridades administrativas o judiciales competentes.
</p>
<p>
    <strong>3. Propiedad intelectual</strong>
</p>
<p>
    El contenido del sitio web, incluyendo, pero no limitándose a, imágenes, texto, vídeos, logos, diseños, diagramación, archivos, etc es propiedad de JUAN ZULUAGA y el USUARIO sólo podrá hacer uso de aquel para fines personales. Cualquier descarga, reproducción, almacenamiento, transmisión, transferencia a cualquier título, para fines no personales se encuentra prohibido.
</p>
<p>
    Cuando en la aplicación se presente contenido de terceros (artículos, imágenes, opiniones, vídeos, logos diseños, entre otros) esto se hace con la autorización de los autores del contenido y su descarga, reproducción, almacenamiento, transmisión o transferencia a cualquier título por parte del USUARIO queda sujeto a las mismas restricciones del párrafo anterior.
</p>
<p>
    Sobre los contenidos que el USUARIO ingrese en la aplicación y que no constituyan datos personales (opiniones, comentarios, imágenes, vídeos, logos, diseños, entre otros) el USUARIO otorga a la app y a JUAN ZULUAGA licencia para su uso sin restricción alguna, incluyendo, pero no limitándose al almacenamiento, reproducción, transferencia a cualquier título, oneroso, gratuito, exhibición, entre otros.
</p>
<p>
    <strong>4. Calidad de la información proporcionada</strong>
</p>
<p>
    El contenido publicado en la aplicación por cualquier medio o formato (texto, video, imágenes, etc) cumple propósitios meramente enunciativos y no constituyen asesoría o consejo sobre cualquiera de los temas que traten. JUAN ZULUAGA no garantiza la actualidad o veracidad de la información contenida, sin perjuicio de aquella que constituya oferta comercial o parte de ésta de conformidad con la normatividad colombiana.
</p>
<p>
    JUAN ZULUAGA no garantiza la actualidad o veracidad de la información contenida en sitios web, archivos, aplicaciones, y demás contenido de terceros a los que el USUARIO sea redirigido desde la aplicación de su propiedad, así como del contenido aportado por otros usuarios en los espacios dispuestos para ello. El ingreso y uso de los sitios, archivos, aplicaciones y simialres a los que sea redirigido el USUARIO desde VEHICLES estarán sujetos a los términos y condiciones de los mismos, sobre los que JUAN ZULUAGA no tiene responsabilidad alguna. JUAN ZULUAGA tampoco garantiza que el contenido de sitios web, archivos o aplicaciones de terceros cumpla con la legislación colombiana en materia de protección de datos o que el contenido allí presentado sea legal bajo la normatividad colombiana.
</p>
<p>
    JUAN ZULUAGA no garantiza la actualidad o veracidad de la información contenida en sitios web, archivos, aplicaciones, y demás contenido de terceros a los que el USUARIO sea redirigido desde la aplicación de su propiedad, así como del contenido aportado por otros usuarios en los espacios dispuestos para ello. El ingreso y uso de los sitios, archivos, aplicaciones y simialres a los que sea redirigido el USUARIO desde VEHICLES estarán sujetos a los términos y condiciones de los mismos, sobre los que JUAN ZULUAGA no tiene responsabilidad alguna. JUAN ZULUAGA tampoco garantiza que el contenido de sitios web, archivos o aplicaciones de terceros cumpla con la legislación colombiana en materia de protección de datos o que el contenido allí presentado sea legal bajo la normatividad colombiana.
</p>
<p>
    JUAN ZULUAGA no se hace responsable por los daños o perjuicios que pudiera causar al USUARIO o terceros la inexactitud, error, o veracidad de la información proporcionada en el sitio web o sitios, aplicaciones, archivos, documentos y contenido de terceros a los cuales sea redirigido el USUARIO, así como fallas parciales o completas en el funcionamiento del mismo, códigos maliciosos que terceros incluyeran en el sitio o sus archivos. Lo anterior sin perjuicio de aquella información que constituya oferta comercial en VEHICLES de conformidad con la normatividad colombiana.
</p>
<p>
    <strong>5. Moderación</strong>
</p>
<p>
    Para garantizar el adecuado funcionamiento de la aplicación y una experiencia segura para los usuarios, JUAN ZULUAGA podrá:
</p>
<p>
    a. Cambiar en cualquier momento los presentes Términos y Condiciones, así como la política de privacidad de la aplicación.
</p>
<p>
    b. Negar el registro de un USUARIO.
</p>
<p>
    c. Eliminar en cualquier momento los datos personales del USUARIO de sus bases de datos.
</p>
<p>
    d. Eliminar el contenido que el USUARIO haya ingresado a la aplicación, incluyendo pero no limitándose a comentarios, imágenes, logos, vídeos, planos, diseños, entre otros.
</p>
<p>
    e. Suspender de manera temporal o permanente la publicación de la aplicación, así como cualquiera de los servicios que preste.
</p>
<p>
    f. Eliminar sin previo aviso una parte o todo el contenido agregado por el USUARIO a la aplicación.
</p>
<p>
    El USUARIO, para garantizar el adecuado funcionamiento del sitio y una experiencia segura para los demás deberá:
</p>
<p>
    a. Acceder sólo a las secciones de la aplicación para las cuales ha sido autorizado.
</p>
<p>
    b. Abstenerse de proporcionar datos personales falsos, o que induzcan a error a la aplicación, JUAN ZULUAGA a otros usuarios o a terceros, o que pretendan impersonarlos.
</p>
<p>
    c. Abstenerse de realizar actividades comerciales o promocionales en los espacios en que la aplicación le permita agregar contenido, a menos que se autorice expresamente.
</p>
<p>
    d. Abstenerse de descargar, reproducir, duplicar, transmitir, almacenar, exhibir y en general disponer del contenido de la aplicación para fines no personales como actividades comerciales, promocionales, de lucro, entre otras.
</p>
<p>
    e. Abstenerse de proporcionar a terceros sus credenciales de ingreso (DOCUMENTO, TELÉFONO, DIRECCIÓN, CORREO ELECTRÓNICO Y CONTRASEÑA). La la aplicación y JUAN ZULUAGA no será responsables por los daños o perjuicios que la violación de esta prohibición pueda causar al USUARIO o terceros.
</p>
<p>
    f. Abstenerse de injuriar, calumniar o matonear a otros usuarios a a través de los medios dispuestos por la aplicación para la interacción entre ellos o la publicación de contenidos de los usuarios. Así mismo deberá el USUARIO abstenerse de publicar contenido inmoral, racista, sexista, obseno, abiertamente ilegal o que atente contra estos términos y condiciones.
</p>
<p>
    g. Abstenerse de enviar correos o mensajes no deseados (SPAM) a otros usuarios de la aplicación, ya sea a través de los medios de comunicación dispuestos dentro del mismo sitio o externos.
</p>
<p>