@{
    ViewData["Title"] = "Política de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>
    Vehicles dando cumplimiento de las normas contenidas en la
    Ley 1581 de 2012, en el Decreto 1377 de 2013 y en las demás normas concordantes por las
    cuales se dictan disposiciones generales para la protección de datos personales, y en vista
    de su calidad de Responsable del Tratamiento de Datos Personales de conformidad con la
    aludida normatividad, se permite dar a conocer la presente Política de Privacidad y de
    Protección de Datos Personales (en adelante la “Política”) para regular la recolección,
    almacenamiento, tratamiento, administración, transferencia, transmisión, protección y
    supresión de aquella información que se reciba de los titulares de datos personales o de
    terceros a través de los diferentes canales de recolección de datos que ha dispuesto en el
    desarrollo de sus actividades.
</p>
<strong>Definiciones</strong>
<p>
    De acuerdo con los conceptos y criterios de la Ley Estatutaria 1581 de 2012 y el decreto
    reglamentario 1377 de 2103 y/o para efectos de la presente Política, las palabras que a
    continuación se definen tendrán el significado asignado en este capítulo, sea que se escriban
    o no en mayúsculas, o que se encuentren en plural o singular, los mismos serán
    desarrollados y aplicados bajo una interpretación sistemática e integral establecidos en la
    mencionada normatividad
</p>
<p>
    i) Aviso de privacidad: Comunicación verbal o escrita generada por el Responsable,
    dirigida al Titular para el Tratamiento de sus datos personales, mediante la cual se le
    informa acerca de la existencia de las políticas de Tratamiento de información que le serán
    aplicables, la forma de acceder a las mismas y las finalidades del Tratamiento que se
    pretende dar a los datos personales.
</p>
<p>
    ii) Autorización: Consentimiento previo, expreso e informado del Titular para llevar a cabo
    el Tratamiento de Datos Personales.
</p>
<p>
    iii) Base de Datos: Conjunto organizado de Datos Personales que sea objeto de
    Tratamiento, los cuales pueden ser almacenados y/o procesados en servidores ubicados en
    centros de cómputo o papelería física, ya sean propios o contratados con terceros,
    localizados en el territorio nacional o en distintos países.
</p>
<p>
    iv) Dato Personal: Cualquier información vinculada o que pueda asociarse a una o varias
    personas naturales determinadas o determinables.
</p>
<p>
    v) Dato publico: es el dato que no sea semiprivado, privado o sensible. Son considerados
    datos públicos, entre otros, los datos relativos al estado civil de las personas, a su profesión
    u oficio y a su calidad de comerciante o de servidor publico. Por su naturaleza, los datos
    públicos pueden estar contenidos, entre otros, en registros públicos, documentos públicos,
    gacetas y boletines oficiales y sentencias judiciales debidamente ejecutoriadas que no estén
    sometidas a reserva.
</p>
<p>
    vi) Datos Sensibles: Se entiende por datos sensibles aquellos que afectan la intimidad del
    Titular o cuyo uso indebido puede generar su discriminación, tales como aquellos que
    revelen el origen racial o étnico, la orientación política, las convicciones religiosas o
    filosóficas, la pertenencia a sindicatos, organizaciones sociales, de derechos humanos o que
    promueva intereses de cualquier partido político o que garanticen los derechos y garantías
    de partidos políticos de oposición así como los datos relativos a la salud, a la vida sexual y
    los datos biométricos, entre otros.
</p>
<p>
    vii) Encargado del Tratamiento: Persona natural o jurídica, pública o privada, que por sí
    misma o en asocio con otros, realice el Tratamiento de Datos Personales por cuenta del
    Responsable del Tratamiento de Datos Personales.
</p>
<strong>Principios</strong>
<p>
    En el desarrollo, interpretación y aplicación de la ley 1581 de dos mil doce (2012) por la
    cual se dictan disposiciones generales para la protección de datos personales y las normas
    que la complementan, modifican o adicionan, se aplicarán de manera armónica e integral
    los siguientes principios rectores:
</p>
<p>
    Principio De Finalidad: el tratamiento debe obedecer a una finalidad legítima de acuerdo
    con la Constitución y la Ley, la cual debe ser informada al titular.
</p>
<p>
    Principio De Libertad: el tratamiento solo puede ejercerse con el consentimiento previo,
    expreso, e informado del titular. Los datos personales no podrán ser obtenidos o divulgados
    sin previa autorización, o en ausencia de mandato legal o judicial que releve el
    consentimiento.
</p>
<p>
    Principio De Veracidad O Calidad: la información sujeta a tratamiento debe ser veraz,
    completa, exacta, actualizada, comprobable y comprensible. Se prohíbe el tratamiento de
    datos parciales, incompletos, fraccionados o que induzcan a error.
</p>
<p>
    Principio De Transparencia: en el tratamiento debe garantizarse el derecho del titular a
    obtener del responsable del tratamiento o del encargado del tratamiento, en cualquier
    momento y sin restricciones, información acerca de la existencia de datos que le
    conciernan.
</p>
<p>
    Principio De Acceso Y Circulación Restringida: el tratamiento se sujeta a los límites que se
    derivan de la naturaleza de los datos personales, de las disposiciones de la ley y la
    Constitución. En este sentido, el tratamiento sólo podrá hacerse por personas autorizadas
    por el titular y/o por las personas previstas por la ley.
</p>
<p>
    Los datos personales, salvo la información pública, no podrán estar disponibles en internet
    u otros medios de divulgación o comunicación masiva, salvo que el acceso sea
    técnicamente controlable para brindar un conocimiento restringido sólo a los titulares o
    terceros autorizados.
</p>
<p>
    Principio De Seguridad: la información sujeta a tratamiento por Gloria Colombia S.A, se
    deberá manejar con las medidas técnicas, humanas y administrativas que sean necesarias
    para otorgar seguridad a los registros evitando su adulteración, pérdida, consulta, uso o
    acceso no autorizado o fraudulento.
</p>
