@{
    ViewData["Title"] = "Confirmación de Email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p><strong>Gracias por confirmar su cuenta. Ya puedes ingresar al sistema.</strong></p>
    <p>Si no has asignado una contraseña, tu contraseña actual es: 123456, recuerde cambiarla por una más segura y de fácil recordación para usted.</p>
</div>
